In [ ]:
age=int(input("enter age of employee"))
if(age>=18):
    print("adult")

In [ ]:
age=int(input("enter age"))
if(age<18):
    print("children")
else:
    print("adult")

In [ ]:
age=int(input("enter age"))

In [ ]:
if(age<18):
    print("children")
elif(age<35):
    print("adult")
elif(age<59):
    print("citizen")
else:
    print("senior citizen")

In [13]:
list=[1,10,11,20,30]
for num in list:
    if(num<10):
        print("below 10")
    elif(num<20):
        print("below 20 but greater than 10")
    else:
        print("20")

below 10
below 20 but greater than 10
below 20 but greater than 10
20
20

In [15]:
num-=int(input("enter a num"))
if (num%2==0):
    print("even")
else:
    print("odd")

enter a num 3

odd

In [25]:
list=range(0,10)

In [27]:
for num in list:
    print(num)

0
1
2
3
4
5
6
7
8
9

In [31]:
num=range(0,20,3)
for n in num:
    print(n)

0
3
6
9
12
15
18