In [1]:
list=range(0,20)
for num in list:
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
list=range(10,20)
for num in list:
    print(num)

10
11
12
13
14
15
16
17
18
19

In [7]:
List2=[10, 20, 14, 55, 43, 87, 76]
length=len(list)
print("enter the number of items in the List2:",length)

enter the number of items in the List2: 7

In [11]:
AI="Artificial Intelligence"
print(AI)
for letters in AI:
    print(letters)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [21]:
credentials=["sushmitha",28,"pythonaspirant"]
for x in credentials:
    print(x)

sushmitha
28
pythonaspirant

In [23]:
name="sushmitha"
age="28"
profession="python aspirant"
credentials=[name,age,profession]
for data in credentials:
    print(data)

sushmitha
28
python aspirant

In [25]:
tuple=(1, "welcome", 2, "Hope")
print(tuple)

(1, 'welcome', 2, 'Hope')

In [45]:
Tuple1 = (0, 1, 2, 3)
Tuple2= ("python","HOPE")
Tuple3=(Tuple1,Tuple3)
print(Tuple3)

((0, 1, 2, 3), (0, 1, 2, 3, 'python', 'HOPE'))

In [47]:

list=[20,10,16,19,25,1,276,188]
for num in list:
    if(num%2==1):
        print(num, "is odd")

19 is odd
25 is odd
1 is odd

In [51]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if(num%2==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even