In [1]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))
#not capital M its math.sqrt(16)

NameError: name 'Math' is not defined

In [3]:
import math
print(math.sqrt(16))

4.0

In [7]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()
#x no value and no parameter passed

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [9]:
def my_function(x):
    x+=5
    print(x)
my_function(10)

15

In [13]:
#3.
x = 5
if x = 10:
    print("x is 10")
# double equal to

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3375144481.py, line 3)

In [11]:
x=5
if x==10:
    print("x is 10")

In [19]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())
#array or list must be sorted and then printed.
#printing a method will not return anything

None

In [17]:
numbers=[5,3,8,2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [21]:
#5.
def square(n):
    n * n

print(square(4))
#nothing will be printed as the defnition prints or returns nothing

None

In [23]:
def square(n):
    n*=n
    print(n)

square(4)

16

In [25]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5
#tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [51]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))
#% d not specified

TypeError: not enough arguments for format string

In [63]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old

In [49]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")
    #a==b , print nothing no condition checked

In [33]:
#9.
for i in range(5, 1):
    print(i)
#the step is not specified, no number after 5)

In [45]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

In [27]:
#10.
student = {"name": "John", "age": 20}
print(student[name])
#name as to in paranthesis

NameError: name 'name' is not defined

In [29]:
student={"name":"john","age":20}
print(student["name"])

john